/* body{

background-color: #cccccc;
} */
.topIcon{
	border:solid 1px green;
	margin-top:5%;
	padding:25px;
}

.mainCont {
	width:100%;
	background-image:url('C:\Users\Jmcam\desktop\code\jmcam80.github.io\images\wood-metallic.jpg');

}

.mainCont::after{
	opacity: 0.5;

}
.volP {
	margin-top:50%;
}

.ovPic {
	margin-left:25%;
	width:50%;
	height:50%;
}

p:hover {
	background:black;
	color:white;
}

.medic {
	margin-left:75%;
}

.medP{
	margin-top:35%;
}

.banner {
	font-family:cursive;
	font-size:200%;
	color:white;
	background-color:black;
	Text-align:center;
}

.ftr {
	background-color:black;
	color:yellow;
}

.topIcon:hover{
	background-color:gray;


}

.medicInfo {
	margin-top:10%;
}