/*Black background */
body{
    background-color:rgb(14, 13, 13);
   
}
/*A header that drives all three pages */
header {
    position:relative;
    background-color:rgb(235, 20, 20);
    width:130%;
    height:75px;
    top:0;
    border:solid 2px black;
    
}

/*the website links to stackoverflow, github and linkedin */
.third{    
    position:relative;
    border:dashed 3px black;
    width:200px;
    height:70px;
    right:20%;
    top:10px;
    background-color:white;
}
/*style for above websites */
.icon{
    margin:10px 10px 10px 10px;

}
/*specifically targeting paragraphs in a header */

header p {
    color:white;
    font-size:30px;
    padding:0px 0px 0px 10px;
    text-align:center;
    

}
/*specifically targeting paragraphs within divs */
div p {
    color:white;
    
}

/*Me with the flag */
.p_img{
    float:left;
    padding:10px 10px 10px 10px;
}
/*oil field picture */
.p_img2{    
    padding:10px 10px 10px 0px;
    float:left;
    
    
}
/*div containing text above medic */
.medicP{
    width:300px;
    position:absolute;
    top:0px;
    right:-320px;

}

/* the first big section */
.medicContainer{
    width:1000px;
    height:800px;
    display:block;    
    position:relative;

}
.medicContainer::after {
    content: "";
    background: url(./images/holdingDeath.png);
    margin:20px 50px;
    background-repeat:no-repeat;
    background-size:100%;    
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
 /*combat medic picture */   
 .medic{    
    position:absolute;
    z-index:-1;
    
    
}

/*div containing the oil field picture and text for placement */
.oilFieldCont{
    position:absolute;
    top:20px;
    right:-300px;
    width:300px;
    color:white;
    
    
}

.oilfieldPart{
    position:relative;
    width:1000px;
    height:800px;
    display:block;      
       
}

.oilfieldPart::after {
    content: "";
    background: url(./images/oilfield.png);  
    background-repeat:no-repeat; 
    background-size:100%;          
    opacity: 0.8;     
    top: 0;
    left:0;
    bottom:0px;
    right: 0;
    position: absolute;
    z-index: -1;   
    margin:20px 50px;
}

/*The main bordered block with my picture and the semi truck */
.second{
    position:relative;
    width:1000px;
    height:800px;
    display:block;      
       
}

.second::after {
    content: "";
    background: url(./images/Flag_OV.jpg);  
    background-repeat:no-repeat; 
    background-size:100%;          
    opacity: 0.8;     
    top: -100px;
    left:0;
    bottom:0px;
    right: 0;
    position: absolute;
    z-index: -1;   
    margin:20px 50px;
}


.nestedSecond{
    position:absolute;
    top:80px;
    right:-300px;
    width:300px;
    
}


.restoDruid{
    position:relative;
    width:1000px;
    height:800px;
    display:block;      
       
}
/* resto druid from world of warcrat background pic */
.restoDruid::after {
    content: "";
    background: url(./images/restoDruid.jpg);  
    background-repeat:no-repeat; 
    background-size:100%;          
    opacity: 0.8;     
    top: 50px;
    left:0;
    bottom:0px;
    right: 0;
    position: absolute;
    z-index: -1;   
    margin:20px 50px;
}


.nestedResto{
    position:absolute;
    top:80px;
    right:-300px;
    width:300px;
    
}


/*navigation for contact, portfolio and about me pages */
nav {
    position:absolute;
    top:0px;
    left:50%;    
    color:black;
    width:75px;
    height:65px;
    padding:10px 0px 0px 5px;
    background-color:white;
    
}
/*making the background picture for the portfolio and contact pages have rounded edges */
.cImage{
    border-radius:30px;

}
/*positioning background image on portfolio and contact pages */
.consctruction{
    position:relative;
    top:80px;
    left:0px;  
    z-index: -1;
    padding:20px 0px 0px 30px;

}  
/*a uniform footer across all pages */
footer{
    position:relative;
    background-color:rgb(235, 20, 20);
    width:130%;
    height:75px;
    bottom:-800px;
    border:solid 2px black;
}  
 




